body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dedede;
}

#list {
    display: inline-block;
    margin: auto;
    border: 1px solid #666;
    padding: 10px;

    /* wow ... we can do that! */
    a {
        display: block;
        color: white;
        text-decoration: none;
        padding: .4em;
    }

    a:nth-child(odd) {
        background-color: #222
    }

    a:nth-child(even) {
        background-color: #111;
    }
}

#display {
    vertical-align: top;
    min-width: 400px;
    display: inline-block;
    background-color: #383838;
    border: 1px solid #666;
    padding: 10px;

    p {
        padding: .4em;
        margin: 0px;
    }

    p:nth-child(odd) {
        background-color: #222;
    }

    p:nth-child(even) {
        background-color: #111;
    }
}

#explanation {
    display: block;
    width: 80%;
    margin:auto;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: moccasin;
    color: darkslategray;
    padding: .5em;
    border: 1px solid orange;
    a { color: orangered;}
}

div {
    border-radius: 1em;
}